<h1>Cumplimientos</h1>

<table>
  <tr>
    <th>Name</th>
    <th>sku</th>
    <th>Stock minimo</th>
    <th>stock actual</th>
    <th>% cumplimiento</th>
  </tr>

<% @stocks.each do |product| %>
  <tr>
    <td style='text-align: left;'><%= product[:name] %></td>
    <td><%= product[:sku] %></td>
    <td><%= product[:min] %></td>
    <td><%= product[:total] %></td>
    <td><%= product[:total]*100.0/product[:min] %>%</td>
  </tr>
<% end %>
</table>

<br />